body {
    text-align: center;
    margin: 0px;
}

#head {
    font-size: 5.5rem;
    margin-top:0px;
    font-family: 'Sacramento', cursive;
}

hr {
    margin: 0px;
}

table {
    font-size: 150%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.image {
    height: 150px;
}

h3 {
    font-size: 3rem;
    font-family: 'Train One', cursive;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

#king {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: white;
}

.profile {
    background-color: rgb(203, 248, 248);
    height: 400px;
}

.skill {
    background-color: rgb(157, 247, 215);
    padding-bottom: 30px;
    margin: 0px;
}

.skill-row {
    background-color: rgb(157, 247, 215);
    height: 690px;
}

.kingofweb {
    height: 428px;
    background-color: rgb(183, 250, 228);
}

.get {
    margin-top: 0px;
}

.ph {
    margin-bottom: 0px;
    padding: 30px;
}

.contact-me {
    background-color: rgb(183, 248, 201);
}

.bottom-container {
    background-color: rgb(202, 247, 202);
    position: relative;
    height: 200px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.btn {
    padding-top: 10px;
}
